{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  {% include custom/topbar.html %}
  <div class="row">
    <div id="header">
      <header role="banner">{% include header.html %}</header>
      {% include custom/social.html %}
      <nav role="navigation">{% include navigation.html %}</nav>
    </div>
    <div id="main">
      {% include custom/social.html %}
      <div id="content">
        {{ content | expand_urls: root_url }}
      </div>
    </div>
  </div>
  <div class="row">
    <footer id="footer" role="contentinfo">{% include footer.html %}</footer>
    {% include after_footer.html %}
  </div>

  <script src="{{ root_url }}/javascripts/libs/fastclick.js"></script>
  <script src="{{ root_url }}/javascripts/libs/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
