<div class="social subscription" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
  {% if site.twitter_user %}
    <a class="twitter symbol" href="https://twitter.com/{{ site.twitter_user }}"><i class="fa fa-twitter"></i></a>
  {% endif %}
  {% if site.github_user %}
    <a class="github symbol" href="https://github.com/{{ site.github_user }}"><i class="fa fa-github"></i></a>
  {% endif %}
  {% if site.googleplus_user %}
    <a class="googleplus symbol" href="https://google.com/{{ site.googleplus_user }}?rel=author"><i class="fa fa-google-plus"></i></a>
  {% endif %}
  {% if site.linkedin_profile %}
    <a class="linkedin symbol" href="http://linkedin.com/in/{{ site.linkedin_profile }}"><i class="fa fa-linkedin"></i></a>
  {% endif %}

  <a class="rss symbol" href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS"><i class="fa fa-rss"></i></a>

  {% if site.subscribe_email %}
    <a class="email symbol" href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email"><i class="fa fa-envelope"></i></a>
  {% endif %}
</div>
