body > header {
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 0;
  }
}

.social {
  .symbol {
    font-size: 3em;
    &.twitter {
      @include link-colors($text-color-light, $twitter-color, $text-color-light, $text-color-light, $text-color-light);
    }
    &.github {
      @include link-colors($text-color-light, $github-color, $text-color-light, $text-color-light, $text-color-light);
    }
    &.googleplus {
      @include link-colors($text-color-light, $googleplus-color, $text-color-light, $text-color-light, $text-color-light);
    }
    &.linkedin {
      @include link-colors($text-color-light, $linkedin-color, $text-color-light, $text-color-light, $text-color-light);
    }
  }
}