@import "compass/layout/stretching";
@import "foundation/_variables";

.nav {
  margin-bottom: 1em;
  border-style: solid;
  border-color: $text-color;
  border-width: 1px 0;
}

.main-navigation.inline-list {
    margin-bottom: 0;
}

.search {
  form {
    @include stretch-y(0.5em, 0.5em);

    .search {
      @include border-radius(em-calc(14));
    }
  }
}