<hgroup class="small-12 large-8 large-offset-2 columns">
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
  <div class="social right">
    {% if site.twitter_user %}
      <a class="twitter symbol" href="https://twitter.com/{{ site.twitter_user }}">&#xe086;</a>
    {% endif %}
    {% if site.github_user %}
      <a class="github symbol" href="https://github.com/{{ site.github_user }}">&#xe037;</a>
    {% endif %}
    {% if site.googleplus_user %}
      <a class="googleplus symbol" href="https://plus.google.com/{{ site.googleplus_user }}?rel=author">&#xe039;</a>
    {% endif %}
    {% if site.linkedin_profile %}
      <a class="linkedin symbol" href="http://linkedin.com/in/{{ site.googleplus_user }}">&#xe052;</a>
    {% endif %}
  </div>
</hgroup>
